@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Добавление пункта меню</title>
</head>
<body>
    <div>
        @if (ViewBag.isError)
        {
            <p style="color: red; font-size: 18px;">Данное меню не существует</p>
        }
        else
        {

            <form method="post" action="./AddMenuItem" style="background: #ccc; border: 1px solid black; padding: 20px;">
                <input type="hidden" value="@ViewBag.MenuId" name="MenuId" />
                <p>Введите название блюда:</p>
                <input type="text" name="Name" placeholder="Name" />
                <br />
                <br />
                <p>Введите состав:</p>
                <input type="text" name="Ingridients" placeholder="Ingredients" />
                <br />
                <br />
                <p>Введите цену:</p>
                <input type="text" name="Price" placeholder="Price" />
                <br />
                <br />
                <input type="submit" />
            </form>
            <br />
            <table style="width: 100%; border: 1px solid gray" border="1">
                <tr>
                    <th style="width: 10%">Id</th>
                    <th style="width: 30%">Name</th>
                    <th style="width: 50%">Ingridients</th>
                    <th style="width: 10%">Price</th>
                </tr>
                @foreach (var menuItem in ViewBag.MenuItems)
                {
                    <tr>
                        <td>@menuItem.Id</td>
                        <td>@menuItem.Name</td>
                        <td>@menuItem.Ingredients</td>
                        <td>@menuItem.Price</td>
                    </tr>
                }
            </table>
        }
    </div>
</body>
</html>
