
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
    <script src="~/Content/Style/js/jquery-dateformat.min.js"></script>
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
    <title>Архив заказов</title>
</head>
<body>
    <div id="main-form">
        <div class="navigation">
            <table style="width: 100%; border: 0px" border="1">
                <tr>
                    <td class="menu-item"><a href="../Admin/Home" class="menu_text">О точке питания</a></td>
                    <td class="menu-item"><a href="../Admin/OrdersPage" class="menu_text">Заказы</a></td>
                    <td class="menu-item"><a href="../Admin/MenuList" class="menu_text">Меню</a></td>
                    <td class="menu-item"><a href="../Admin/PersonalAccount" class="menu_text">Личный кабинет</a></td>
                    <td class="menu-item"><a href="../Admin/ListUsers" class="menu_text">Настройка прав пользователей</a></td>
                    <td class="menu-item"><a href="../Authorization/LogOut_Admin" class="menu_text">Выход</a></td>
                </tr>
            </table>
        </div>
        <br/>
        <div class="mainstyle">
            <h2>Архив заказов</h2>
            <br/>
            <div class="mainstyle">
                <p><label>Фильтры:</label></p>
                <p>
                    Номер заказа: <input type="number" id="OrderNumber" class="form-input"/>
                </p>
                <button type="submit" id="search" class="link-but">Поиск</button>
                <br/>
            </div>
            <div>
                @if (ViewBag.Empty == "true")
            {
                <p>У вас нет еще ни одного архивного заказа.</p>
        }
        else
        {
            <table id="tableorders">
                <tr>
                    <th style="width: 10%">Номер заказа</th>
                    <th style="width: 10%">Время оформления</th>
                    <th style="width: 10%">Время готовности заказа</th>
                    <th style="width: 10%">Упаковка заказа</th>
                    <th style="width: 10%">Статус</th>
                    <th style="width: 10%">Стоимость</th>
                    <th style="width: 30%">Заметки</th>
                    <th style="width: 10%">Товары в заказе</th>
                </tr>
                @foreach (var order in ViewBag.Orders)
            {
                <tr value="@order.OrderID">
                    <td>@order.NumberOrder</td>
                    <td>@order.OrderTime</td>
                    <td>@order.ReadyTime</td>
                    @if (@order.WhereEat == false)
                {
                    <td><p>С собой</p></td>
            }
            else
            {
                <td><p>На месте</p></td>
        }

                    @if (order.Status == 3)
                {
                    <td><p>Выполнен</p></td>
            }
            else if (order.Status == 4)
            {
                <td><p>Удален</p></td>
        }
                    <td><p>@order.Sum</p></td>
                    <td><p>@order.Notes</p></td>
                    <td class="more-inf-td"><a href="../Admin/ViewProducts?OrderId=@order.OrderID&Url_page=../Admin/ArchiveOrders" class="more-inf">Подробнее</a></td>
                </tr>
        }
            </table>
    }
            </div>
        </div>
    </div>
    <script>
        $('.menu-item').on('click', function () {
            $(this).children('a')[0].click();
        });
        $('.more-inf-td').on('click', function () {
            $(this).children('a')[0].click();
        });
        $("#search").on("click", function () {
            $.ajax({
                url: "../api/FilterOrders",
                data: {
                    number_order: $("#OrderNumber").val()
                },
                type: "GET",
                dataType: "json",
                success: function (json) {
                    //Очищаем
                    $("#tableorders").empty();

                    //Преобразовываем JSON
                    var json_parse = JSON.parse(json);

                    //Шапка таблицы
                    var block = '<table id="tableorders" style="width: 95%; border: 0px" border="1"><tr>'
                        + '<th style="width: 10%">Номер заказа</th>'
                        + '<th style="width: 10%">Время оформления</th>'
                        + '<th style="width: 10%">Время готовности заказа</th>'
                        + '<th style="width: 10%">Упаковка заказа</th>'
                        + '<th style="width: 10%">Статус</th>'
                        + '<th style="width: 10%">Стоимость</th>'
                        + '<th style="width: 30%">Заметки</th>'
                        + '<th style="width: 10%">Товары в заказе</th></tr>';
                    document.getElementById('tableorders').innerHTML += block;

                    for (var i = 0; i < json_parse.length; i++) {
                        block = '<tr class="tr" value="' + json_parse[i]["OrderID"]
                            + '"><td>' + json_parse[i]["NumberOrder"] + '</td><td>'
                            + $.format.date(json_parse[i]["OrderTime"], 'dd.MM.yyyy H:mm:ss') + '</td><td>' + json_parse[i]["ReadyTime"]
                            + '</td><td>';
                        if (json_parse[i]["WhereEat"] == "false") {
                            block += '<p>С собой</p></td>';
                        }
                        else {
                            block += '<p>На месте</p></td>';
                        }
                        if (json_parse[i]["Status"] == 0) {
                            block += '<td><select id="status_' + json_parse[i]["OrderID"]
                                + '" class="status" name="status" required>'
                                + '<option id="0" value="0" selected="">Обработка</option>'
                                + '<option id="1" value="1">Подтвержден</option>'
                                + '<option id="2" value="2">Ожидает выдачи</option>'
                                + '<option id="3" value="3">Выполнен</option>'
                                + '<option id="4" value="4">Удален</option>'
                                + '</select></td>';

                        }
                        else if (json_parse[i]["Status"] == 1) {
                            block += '<td><select id="status_' + json_parse[i]["OrderID"]
                                + '" class="status" name="status" required>'
                                + '<option id="0" value="0">Обработка</option>'
                                + '<option id="1" value="1" selected="">Подтвержден</option>'
                                + '<option id="2" value="2">Ожидает выдачи</option>'
                                + '<option id="3" value="3">Выполнен</option>'
                                + '<option id="4" value="4">Удален</option>'
                                + '</select></td>';
                        }
                        else if (json_parse[i]["Status"] == 2) {
                            block += '<td><select id="status_' + json_parse[i]["OrderID"]
                                + '" class="status" name="status" required>'
                                + '<option id="0" value="0">Обработка</option>'
                                + '<option id="1" value="1">Подтвержден</option>'
                                + '<option id="2" value="2" selected="">Ожидает выдачи</option>'
                                + '<option id="3" value="3">Выполнен</option>'
                                + '<option id="4" value="4">Удален</option>'
                                + '</select></td>';
                        }
                        else if (json_parse[i]["Status"] == 3) {
                            block += '<td><select id="status_' + json_parse[i]["OrderID"]
                                + '" class="status" name="status" required>'
                                + '<option id="0" value="0">Обработка</option>'
                                + '<option id="1" value="1">Подтвержден</option>'
                                + '<option id="2" value="2">Ожидает выдачи</option>'
                                + '<option id="3" value="3" selected="">Выполнен</option>'
                                + '<option id="4" value="4">Удален</option>'
                                + '</select></td>';
                        }
                        else if (json_parse[i]["Status"] == 4) {
                            block += '<td><select id="status_' + json_parse[i]["OrderID"]
                                + '" class="status" name="status" required>'
                                + '<option id="0" value="0">Обработка</option>'
                                + '<option id="1" value="1">Подтвержден</option>'
                                + '<option id="2" value="2">Ожидает выдачи</option>'
                                + '<option id="3" value="3">Выполнен</option>'
                                + '<option id="4" value="4" selected="">Удален</option>'
                                + '</select></td>';
                        }
                        block += '<td><p>' + json_parse[i]["Sum"] + '</p></td><td><p>';
                        if (json_parse[i]["Notes"] == null) {
                            block += ' ';
                        }
                        else {
                            block += json_parse[i]["Notes"];
                        }

                        block += '</p></td><td><a href="../Admin/ViewProducts?OrderId='
                            + json_parse[i]["OrderID"] + '&Url_page=../Admin/OrdersPage" class="but">Подробнее</a></td></tr>';
                        document.getElementById('tableorders').innerHTML += block;
                    }
                }
            
            })
        })
    </script>
</body>
</html>
