@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование пункта меню</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />

</head>
<body>
    <div class="mainstyle">
        <a href="../Admin/AddMenuItemForm?MenuId=@ViewBag.MenuId" class="but">Вернуться к списку блюд</a>
        <br />
        <br />
    </div>
    <div class="allform">
        <form method="post" action="./ChMenuItem?MenuId=@ViewBag.MenuId&MenuItemId=@ViewBag.MenuItemId" enctype="multipart/form-data">
            <h2>Редактирование пункта меню</h2>
            <p>Введите название блюда:</p>
            <input type="text" name="Name" value="@ViewBag.MenuItem.Name" required />
            <br />
            <br />
            <p>Введите состав:</p>
            <input type="text" name="Ingredients" value="@ViewBag.MenuItem.Ingredients" />
            <br />
            <br />
            <p>Выберите категорию:</p>
            
            <select id="category" name="Category" required>
                @foreach (var c in ViewBag.Category)
    {
            if (@ViewBag.MenuItem.CategoryMenuItemId == c.CategoryMenuItemID)
{
            <option selected="selected">@c.Name</option>
}
else
{
            <option>@c.Name</option>
}
}
            </select>
            <br />
            <br />
            <p>Введите цену:</p>
            <input type="number" name="Price" value="@ViewBag.MenuItem.Price" required />
            <br />
            <br />
            <p>Текущее изображение:</p>
            <img src="~/Content/Style/Files/@ViewBag.MenuItem.Picture" width="100" height="100" alt="Изображение не добавлено">
            <p>Загрузить новое изображение:</p>
            <input type="file" name="upload" accept="image/jpeg,image/png">
            <br />
            <br />
            <input type="submit" class="but" />
        </form>
        <script>
            $("#category").selectmenu();
            $(".but").button();
        </script>
    </div>
</body>
</html>
