@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование пункта меню</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />

</head>
<body>
    <div id="main-form">
        @if (ViewBag.Token == 1)
        {
        <h2>Редактирование пункта меню</h2>
        <p>У вас нет доступа к этой странице</p>
        }
        else
        {
        <div>
            <form method="post" action="./ChMenuItem?MenuId=@ViewBag.MenuId&MenuItemId=@ViewBag.MenuItemId" enctype="multipart/form-data">
                <h2>Редактирование пункта меню</h2>
                <br />
                <p>Введите название блюда:</p>
                <input type="text" name="Name" value="@ViewBag.MenuItem.Name" class="form-input" required />
                <br />
                <br />
                <p>Введите состав:</p>
                <input type="text" name="Ingredients" value="@ViewBag.MenuItem.Ingredients" class="form-input" />
                <br />
                <br />
                <p>Выберите категорию:</p>

                <select id="category" name="Category" class="form-input" required>
                    @foreach (var c in ViewBag.Category)
                    {
                        if (@ViewBag.MenuItem.CategoryMenuItemId == c.CategoryMenuItemID)
                        {
                        <option selected="selected">@c.Name</option>
                        }
                        else
                        {
                    <option>@c.Name</option>
                        }
                    }
                </select>
                <br />
                <br />
                <p>Введите цену:</p>
                <input type="number" name="Price" value="@ViewBag.MenuItem.Price" class="form-input" required />
                <br />
                <br />
                <p>Текущее изображение:</p>
                <img src="~/Content/Style/Files/@ViewBag.MenuItem.Picture" width="100" height="100" alt="Изображение не добавлено">
                <p>Загрузить новое изображение:</p>
                <input type="file" name="upload" accept="image/jpeg,image/png" class="form-input" style="height: 38px">
                <br />
                <br />
                <a href="../Admin/AddMenuItemForm?MenuId=@ViewBag.MenuId" class="link-but" style="width:210px; float: right">Вернуться к списку блюд</a>
                <input type="submit" class="link-but" />
            </form>
        </div>
        }
    </div>
</body>
</html>
