
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
    <title>О точке питания</title>
</head>
<body>
    <div id="main-form">
        <div class="navigation">
            <table style="width: 100%; border: 0px" border="1">
                <tr>
                    <td class="menu-item"><a href="../Admin/Home" class="menu_text">О точке питания</a></td>
                    <td class="menu-item"><a href="../Admin/OrdersPage" class="menu_text">Заказы</a></td>
                    <td class="menu-item"><a href="../Admin/MenuList" class="menu_text">Меню</a></td>
                    <td class="menu-item"><a href="../Admin/PersonalAccount" class="menu_text">Личный кабинет</a></td>
                    <td class="menu-item"><a href="../Admin/ListUsers" class="menu_text">Настройка прав пользователей</a></td>
                    <td class="menu-item-exit"><input type="button" value="Выйти" id="exit" class="menu_text" /></td>
                </tr>
            </table>
        </div>
        <div class="mainstyle">
            <br />
            <a href="../Admin/SetDinningRoom" class="link-but" style="float: right">Настройки</a>
            <h2>О точке питания</h2>
            <br />
            <p><label>Адрес точки: </label>@ViewBag.DinningRoom.Adress</p>
            <p><label>Телефон: </label>@ViewBag.DinningRoom.PhoneNum</p>
            <p><label>E-mail: </label>@ViewBag.DinningRoom.Email</p>
            <p><label>Контактное лицо: </label>@ViewBag.Manager.FirstName @ViewBag.Manager.Name @ViewBag.Manager.Patronymic</p>
            <p><label>Количество блюд/интервал времени: </label>@ViewBag.DinningRoom.Dishes / @ViewBag.DinningRoom.Interval</p>
            <p><label>Минимальное время приготовления заказа в минутах: </label>@ViewBag.DinningRoom.Min_time мин.</p>
            <br />
            <h3>Рабочие дни: </h3>
            <table class="table-with-items">
                <tr>
                    <th style="width: 30%">День</th>
                    <th style="width: 35%">Начало рабочего дня</th>
                    <th style="width: 35%">Окончание рабочего дня</th>
                </tr>
                @foreach (var day in ViewBag.WorkDays)
        {
            <tr value=@day.DayWorkID>
                <td>@day.Name</td>
                <td>@day.StartDayHour : @day.StartDayMin</td>
                <td>@day.EndDayHour : @day.EndDayMin</td>
            </tr>
}
            </table>
        </div>
    </div>
    <script>
        $('.menu-item').on('click', function () {
            $(this).children('a')[0].click();
        });
        $('.menu-item-exit').on('click', function () {
            $(this).children('input')[0].click();
        });
        $("#exit").on("click", function (event) {
            $.ajax({
                url: "../api/SignINUP",
                type: "GET",
                dataType: "text",
                success: function () {
                    window.location = '../Authorization/Enter';
                }
            })
            event.stopPropagation();
        })
    </script>
</body>
</html>
