
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../Content/Style/css/pushy.css">
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title>О точке питания</title>
</head>
<body>
    <div>
        <!-- Pushy Menu -->
        <nav class="pushy pushy-left">
            <div class="pushy-content">
                <ul>
                    <li class="pushy-link"><a href="../Admin/Home?UserId=@ViewBag.UserID">О точке питания</a></li>
                    <li class="pushy-link"><a href="../Admin/MenuList?UserId=@ViewBag.UserID">Меню</a></li>
                    <li class="pushy-link"><a href="../Admin/PersonalAccount?UserId=@ViewBag.UserID">Личный кабинет</a></li>
                </ul>
            </div>
        </nav>

    <!--Content -->
        <div id="container">
            <!-- Menu Button -->
            <button class="menu-btn">&#9776</button>
        </div>
        <div>
            <a href="../Admin/SetDinningRoom?UserId=@ViewBag.UserID">Настройки</a>
            <br />
            <p>Адрес точки: @ViewBag.DinningRoom.Adress</p>
            <p>Телефон: @ViewBag.DinningRoom.PhoneNum</p>
            <p>E-mail: @ViewBag.DinningRoom.Email</p>
            <p>Контактное лицо:  @ViewBag.Manager.FirstName @ViewBag.Manager.Name @ViewBag.Manager.Patronymic</p>
            <br />
            <p>Количество блюд/интервал времени: @ViewBag.DinningRoom.Dishes / @ViewBag.DinningRoom.Interval</p>
            <br />
            <p>Рабочие дни: </p>
            <table style="width: 100%; border: 1px solid gray" border="1">
                <tr>
                    <th style="width: 30%">День</th>
                    <th style="width: 35%">Начало рабочего дня</th>
                    <th style="width: 35%">Окончание рабочего дня</th>
                </tr>
                @foreach (var day in ViewBag.WorkDays)
    {
                <tr value=@day.DayWorkID>
                    <td>@day.Name</td>
                    <td>@day.StartDayHour : @day.StartDayMin</td>
                    <td>@day.EndDayHour : @day.EndDayMin</td>
                </tr>
}
            </table>
        </div>
    </div>
    <script src="~/Content/Style/js/pushy.min.js"></script>
</body>
</html>
