
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
    <title>О точке питания</title>
</head>
<body>
    <div>
        <nav role='navigation'>
            <ul>
                <li><a href="../Admin/Home?UserId=@ViewBag.UserID">О точке питания</a></li>
                <li><a href="../Admin/MenuList?UserId=@ViewBag.UserID">Меню</a></li>
                <li><a href="../Admin/OrdersPage?UserId=@ViewBag.UserID">Заказы</a></li>
                <li><a href="../Admin/PersonalAccount?UserId=@ViewBag.UserID">Личный кабинет</a></li>
                <li><a href="../Admin/ListUsers?UserId=@ViewBag.UserID">Настройка прав пользователей</a></li>
            </ul>
        </nav>
    </div>
        <div class="mainstyle">
            <a href="../Admin/SetDinningRoom?UserId=@ViewBag.UserID" class="but">Настройки</a>
            <br />
            <p><label>Адрес точки: </label>@ViewBag.DinningRoom.Adress</p>
            <p><label>Телефон: </label>@ViewBag.DinningRoom.PhoneNum</p>
            <p><label>E-mail: </label>@ViewBag.DinningRoom.Email</p>
            <p><label>Контактное лицо: </label>@ViewBag.Manager.FirstName @ViewBag.Manager.Name @ViewBag.Manager.Patronymic</p>
            <br />
            <p><label>Количество блюд/интервал времени: </label>@ViewBag.DinningRoom.Dishes / @ViewBag.DinningRoom.Interval</p>
            <br />
            <h3>Рабочие дни: </h3>
            <table style="width: 50%; border: 1px solid gray" border="1">
                <tr>
                    <th style="width: 30%">День</th>
                    <th style="width: 35%">Начало рабочего дня</th>
                    <th style="width: 35%">Окончание рабочего дня</th>
                </tr>
                @foreach (var day in ViewBag.WorkDays)
    {
                <tr value=@day.DayWorkID>
                    <td>@day.Name</td>
                    <td>@day.StartDayHour : @day.StartDayMin</td>
                    <td>@day.EndDayHour : @day.EndDayMin</td>
                </tr>
}
            </table>
        </div>
    <script>
        $(".but").button();
    </script>
</body>
</html>
