
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Настройка прав пользователей</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
</head>
<body>
    <div id="main-form">
        <div class="navigation">
            <table style="width: 100%; border: 0px" border="1">
                <tr>
                    <td class="menu-item"><a href="../Admin/Home" class="menu_text">О точке питания</a></td>
                    <td class="menu-item"><a href="../Admin/OrdersPage" class="menu_text">Заказы</a></td>
                    <td class="menu-item"><a href="../Admin/MenuList" class="menu_text">Меню</a></td>
                    <td class="menu-item"><a href="../Admin/PersonalAccount" class="menu_text">Личный кабинет</a></td>
                    <td class="menu-item"><a href="../Admin/ListUsers" class="menu_text">Настройка прав пользователей</a></td>
                </tr>
            </table>
        </div>
        <div>
            <br/>
            <div class="mainstyle">
                <h2>Настройка прав пользователей</h2>
                <br/>
                <table>
                    <tr>
                        <td class="filter-table">Фамилия: <input type="text" id="FirstName" class="form-input" /></td>
                        <td class="filter-table">Имя: <input type="text" id="Name" class="form-input"/></td>
                        <td class="filter-table">Отчество: <input type="text" id="Patronymic" class="form-input"/></td>
                    </tr>
                    <tr>
                        <td class="filter-table">Логин: <input type="text" id="Login" class="form-input"/></td>
                        <td class="filter-table">E-mail: <input type="email" id="Email" class="form-input"/></td>
                        <td class="filter-table">Телефон: <input type="tel" id="PhoneNumber" class="form-input"/></td>
                    </tr>
                    <tr>
                        <td class="filter-table">
                            <label style="font-weight: 500">
                                <input class="checkbox" type="checkbox" id="0" value="Покупатель" checked>
                                <span class="checkbox-custom"></span>
                                <span class="label">Покупатель</span>
                            </label>
                        </td>
                        <td class="filter-table">
                            <label style="font-weight: 500">
                                <input class="checkbox" type="checkbox" id="1" value="Модератор" checked>
                                <span class="checkbox-custom"></span>
                                <span class="label">Модератор</span>
                            </label>
                        </td>
                        <td class="filter-table">
                            <label style="font-weight: 500">
                                <input class="checkbox" type="checkbox" id="2" value="Администратор" checked>
                                <span class="checkbox-custom"></span>
                                <span class="label">Администратор</span>
                            </label>
                        </td>
                    </tr>
                </table>
                <button type="submit" id="search" class="link-but">Поиск</button>
            </div>
            <br/>
            <div id="usertable">
                <table border="1" style="border-color: #BFB29D">
                    <tr>
                        <th style="width: 20%">Изображение</th>
                        <th style="width: 20%">ФИО</th>
                        <th style="width: 10%">Логин</th>
                        <th style="width: 15%">Права</th>
                        <th style="width: 10%">Email</th>
                        <th style="width: 10%">Телефон</th>
                    </tr>
                    @foreach (var user in ViewBag.Users)
                {
                    <tr value=@user.UserID>
                        <td><img src="~/Content/Style/Files/@user.Picture" width="100" height="100" alt="Изображение не добавлено"></td>
                        <td>@user.FirstName @user.Name @user.Patronymic</td>
                        <td>@user.Login</td>
                        @if (user.Status == 0)
                    {
                        <td>Покупатель</td>
                }
                else if (user.Status == 1)
                {
                    <td>Модератор</td>
            }
            else
            {
                <td>Администратор</td>
        }
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td class="more-inf-td">
                            <a href="../Admin/ChangeUser?RedUserId=@user.UserID" class="red">Редактировать</a>
                        </td>
                        <td class="remove-user-td">
                            <input type="button" value="Удалить" class="remove-user" />
                        </td>
                    </tr>
            }
                </table>
            </div>
        </div>
    </div>
    <script>
        $('.remove-user-td').on('click', function () {
            $(this).children('input')[0].click();
        });
        $('.more-inf-td').on('click', function () {
            $(this).children('a')[0].click();
        });
        $('.menu-item').on('click', function () {
            $(this).children('a')[0].click();
        });
        $(".remove-user").on("click", function (event) {
            var button = $(this);
            var str = button.parent().parent();
            $.ajax({
                url: "../Admin/RemoveUser?id=" + str.attr("value"),
                type: "POST",
                dataType: "text",
                success: function () {
                    str.remove();
                }
            })
            event.stopPropagation();
        })
    </script>
    <script>
        $("#search").on("click", function () {
            $.ajax({
                url: "../api/filterUsers",
                data: {
                    firstname: $("#FirstName").val(),
                    name: $("#Name").val(),
                    patronymic: $("#Patronymic").val(),
                    login: $("#Login").val(),
                    tel: $("#PhoneNumber").val(),
                    email: $("#Email").val(),
                    status0: $("#0").prop("checked"),
                    status1: $("#1").prop("checked"),
                    status2: $("#2").prop("checked")
                },
                type: "GET",
                dataType: "json",
                success: function (json) {
                    //Очищаем
                    $("#usertable").empty();

                    //Преобразовываем JSON
                    var json_parse = JSON.parse(json);

                    //Шапка таблицы
                    var block = '<table style="width: 95%; border: 0px" border="1"><tr><th style="width: 20%">Изображение</th><th style="width: 20%">ФИО</th>'
                        + '<th style="width: 10%">Логин</th>' + '<th style="width: 15%">Права</th>'
                        + '<th style="width: 10%">Email</th>' + '<th style="width: 10%">Телефон</th></tr>';
       
                    for (var i = 0; i < json_parse.length; i++) {
                        block = block + '<tr value=' + json_parse[i]["UserID"] + '><td><img src="../Content/Style/Files/' + json_parse[i]["Picture"]
                            + '" width="100" height="100" alt="Изображение не добавлено"></td><td>' + json_parse[i]["FirstName"]
                            + ' ' + json_parse[i]["Name"] + ' ' + json_parse[i]["Patronymic"] + '</td><td>'
                            + json_parse[i]["Login"] + '</td>';

                        if (json_parse[i]["Status"] == 0) {
                            block = block + '<td>Покупатель</td>';
                        }
                        else if (json_parse[i]["Status"] == 1) {
                            block = block +'<td>Модератор</td>';
                        }
                        else {
                            block = block + '<td>Администратор</td>'
                        }
                        block = block + '<td>' + json_parse[i]["Email"] + '</td><td>' + json_parse[i]["PhoneNumber"]
                            + '</td><td>' + '<a href="../Admin/ChangeUser?UserId=@ViewBag.UserID&RedUserId='
                            + json_parse[i]["UserID"] + '" class="red">Редактировать</a></td><td><input type="button" value="Удалить" class="remove-user" />'
                            + '</td></tr>';
                    }
                    block = block + '</table>';
                    //Добавляем в div
                    document.getElementById('usertable').innerHTML += block;
                }
            })
        })
    </script>
</body>
</html>
