
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Настройка прав пользователей</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav role='navigation'>
            <ul>
                <li><a href="../Admin/Home?UserId=@ViewBag.UserID">О точке питания</a></li>
                <li><a href="../Admin/MenuList?UserId=@ViewBag.UserID">Меню</a></li>
                <li><a href="../Admin/PersonalAccount?UserId=@ViewBag.UserID">Личный кабинет</a></li>
                <li><a href="../Admin/ListUsers?UserId=@ViewBag.UserID">Настройка прав пользователей</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <div class="mainstyle">
            <h2>Настройка прав пользователей</h2>
            <p>
                Фамилия: <input type="text" id="FirstName" />
                Имя: <input type="text" id="Name" />
                Отчество: <input type="text" id="Patronymic" />
            </p>
            <p>
                Логин: <input type="text" id="Login" />
                E-mail: <input type="email" id="Email" />
                Телефон: <input type="tel" id="PhoneNumber" />
            </p>
            <label style="font-weight: 500">
                <input class="checkbox" type="checkbox" id="0" value="Покупатель" checked>
                <span class="checkbox-custom"></span>
                <span class="label">Покупатель</span>
            </label>
            <label style="font-weight: 500">
                <input class="checkbox" type="checkbox" id="1" value="Модератор" checked>
                <span class="checkbox-custom"></span>
                <span class="label">Модератор</span>
            </label>
            <label style="font-weight: 500">
                <input class="checkbox" type="checkbox" id="2" value="Администратор" checked>
                <span class="checkbox-custom"></span>
                <span class="label">Администратор</span>
            </label>
            <button type="submit" id="search"></button>
        </div>

        <div id="usertable">
            <table style="width: 95%; border: 0px" border="1">
                <tr>
                    <th style="width: 30%">ФИО</th>
                    <th style="width: 15%">Логин</th>
                    <th style="width: 15%">Права</th>
                    <th style="width: 10%">Email</th>
                    <th style="width: 10%">Телефон</th>
                </tr>
                @foreach (var user in ViewBag.Users)
                {
                <tr value=@user.UserID>
                    <td>@user.FirstName @user.Name @user.Patronymic</td>
                    <td>@user.Login</td>
                    @if (user.Status == 0)
    {
                <td>Покупатель</td>
}
else if (user.Status == 1)
{
                <td>Модератор</td>
}
else
{
                <td>Администратор</td>
}
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                        <a href="../Admin/ChangeUser?UserId=@ViewBag.UserID&RedUserId=@user.UserID" class="red">Редактировать</a>
                    </td>
                    <td>
                        <input type="button" value="Удалить" class="remove-user" />
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
    <script>
        $(".remove-user").button();
        $(".red").button();
    </script>
    <script>
        $(function () {
            $("#search").button({
                icons: {
                    primary: "ui-icon-search"
                }
            });
        });
    </script>
    <script>
        $(".remove-user").on("click", function () {
            var button = $(this);
            var str = button.parent().parent();
            $.ajax({
                url: "../Admin/RemoveUser?id=" + str.attr("value"),
                type: "POST",
                dataType: "text",
                success: function () {
                    str.remove();
                }
            })
        })
    </script>
    <script>
        $("#search").on("click", function () {
            $.ajax({
                url: "../api/filterUsers",
                data: {
                    firstname: $("#FirstName").val(),
                    name: $("#Name").val(),
                    patronymic: $("#Patronymic").val(),
                    login: $("#Login").val(),
                    tel: $("#PhoneNumber").val(),
                    email: $("#Email").val(),
                    status0: $("#0").prop("checked"),
                    status1: $("#1").prop("checked"),
                    status2: $("#2").prop("checked")
                },
                type: "GET",
                dataType: "json",
                success: function (json) {
                    //Очищаем
                    $("#usertable").empty();

                    //Преобразовываем JSON
                    var json_parse = JSON.parse(json);
                    console.log(json_parse);

                    //Шапка таблицы
                    var block = '<table style="width: 95%; border: 0px" border="1"><tr><th style="width: 30%">ФИО</th>'
                        + '<th style="width: 15%">Логин</th>' + '<th style="width: 15%">Права</th>'
                        + '<th style="width: 10%">Email</th>' + '<th style="width: 10%">Телефон</th></tr>';

                    for (var i = 0; i < json_parse.length; i++) {
                        block = block + '<tr value=' + json_parse[i]["UserID"] + '><td>' + json_parse[i]["FirstName"]
                            + ' ' + json_parse[i]["Name"] + ' ' + json_parse[i]["Patronymic"] + '</td><td>'
                            + json_parse[i]["Login"] + '</td>';

                        if (json_parse[i]["Status"] == 0) {
                            block = block + '<td>Покупатель</td>';
                        }
                        else if (json_parse[i]["Status"] == 1) {
                            block = block +'<td>Модератор</td>';
                        }
                        else {
                            block = block + '<td>Администратор</td>'
                        }
                        block = block + '<td>' + json_parse[i]["Email"] + '</td><td>' + json_parse[i]["PhoneNumber"]
                            + '</td><td>' + '<a href="../Admin/ChangeUser?UserId=@ViewBag.UserID&RedUserId='
                            + json_parse[i]["UserID"] + '" class="red">Редактировать</a></td><td><input type="button" value="Удалить" class="remove-user" />'
                            + '</td></tr>';
                    }
                    block = block + '</table>';
                    //Добавляем в div
                    document.getElementById('usertable').innerHTML += block;
                }
            })
        })
    </script>
</body>
</html>
