
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
    <title>Заказы</title>
</head>
<body>
    <div id="main-form">
        <div class="navigation">
            <table style="width: 100%; border: 0px" border="1">
                <tr>
                    <td class="menu-item"><a href="../Admin/Home" class="menu_text">О точке питания</a></td>
                    <td class="menu-item"><a href="../Admin/OrdersPage" class="menu_text">Заказы</a></td>
                    <td class="menu-item"><a href="../Admin/MenuList" class="menu_text">Меню</a></td>
                    <td class="menu-item"><a href="../Admin/PersonalAccount" class="menu_text">Личный кабинет</a></td>
                    <td class="menu-item"><a href="../Admin/ListUsers" class="menu_text">Настройка прав пользователей</a></td>
                </tr>
            </table>
        </div>
        <div class="mainstyle">
            @if (ViewBag.Empty == "true")
    {
        <p>У вас нет еще ни одного заказа.</p>
}
else
{
        <br />
        <a href="../Admin/ArchiveOrders" class="link-but" style="float:right; width: 125px">Архив заказов</a>
        <h2>Актуальные заказы</h2>
        <br />
        <div class="mainstyle">
            <p style="font-weight: 700">Фильтры:</p>
            <br />
            <p>
                Номер заказа: <input type="number" id="OrderNumber" class="form-input"/>

                <label style="font-weight: 500">
                    <input class="checkbox" type="checkbox" id="0" value="Обработка" checked>
                    <span class="checkbox-custom"></span>
                    <span class="label">Обработка</span>
                </label>
                <label style="font-weight: 500">
                    <input class="checkbox" type="checkbox" id="1" value="Подтвержден" checked>
                    <span class="checkbox-custom"></span>
                    <span class="label">Подтвержден</span>
                </label>
                <label style="font-weight: 500">
                    <input class="checkbox" type="checkbox" id="2" value="Ожидает выдачи" checked>
                    <span class="checkbox-custom"></span>
                    <span class="label">Ожидает выдачи</span>
                </label>
            </p>
            <button type="submit" id="search" class="link-but">Поиск</button>
            <br />
        </div>
        <div id="changelastid">
            <input type="text" value="@ViewBag.LastId" id="lastid" hidden />
        </div>
        <table id="tableorders">
            <tr>
                <th style="width: 10%">Номер заказа</th>
                <th style="width: 10%">Время оформления</th>
                <th style="width: 10%">Время готовности заказа</th>
                <th style="width: 10%">Упаковка заказа</th>
                <th style="width: 10%">Статус</th>
                <th style="width: 10%">Стоимость</th>
                <th style="width: 30%">Заметки</th>
                <th style="width: 10%">Товары в заказе</th>
            </tr>
            @foreach (var order in ViewBag.Orders)
    {
        <tr class="tr" value="@order.OrderID">
            <td>@order.NumberOrder</td>
            <td>@order.OrderTime</td>
            <td>@order.ReadyTime</td>
            @if (order.WhereEat == false)
    {
        <td><p>С собой</p></td>
}
else
{
        <td><p>На месте</p></td>
}
            @if (order.Status == 0)
    {
        <td>
            <select id="status_@order.OrderID" class="status" name="status" required>
                <option id="0_@order.OrderID" value="0" selected="">Обработка</option>
                <option id="1_@order.OrderID" value="1">Подтвержден</option>
                <option id="2_@order.OrderID" value="2">Ожидает выдачи</option>
                <option id="3_@order.OrderID" value="3">Выполнен</option>
                <option id="4_@order.OrderID" value="4">Удален</option>
            </select>
        </td>
}
else if (order.Status == 1)
{
        <td>
            <select id="status_@order.OrderID" class="status" name="status" required>
                <option id="0_@order.OrderID" value="0">Обработка</option>
                <option id="1_@order.OrderID" value="1" selected="">Подтвержден</option>
                <option id="2_@order.OrderID" value="2">Ожидает выдачи</option>
                <option id="3_@order.OrderID" value="3">Выполнен</option>
                <option id="4_@order.OrderID" value="4">Удален</option>
            </select>
        </td>
}
else if (order.Status == 2)
{
        <td>
            <select id="status_@order.OrderID" class="status" name="status" required>
                <option id="0_@order.OrderID" value="0">Обработка</option>
                <option id="1_@order.OrderID" value="1">Подтвержден</option>
                <option id="2_@order.OrderID" value="2" selected="">Ожидает выдачи</option>
                <option id="3_@order.OrderID" value="3">Выполнен</option>
                <option id="4_@order.OrderID" value="4">Удален</option>
            </select>
        </td>
}
else if (order.Status == 3)
{
        <td>
            <select id="status_@order.OrderID" class="status" name="status" required>
                <option id="0_@order.OrderID" value="0">Обработка</option>
                <option id="1_@order.OrderID" value="1">Подтвержден</option>
                <option id="2_@order.OrderID" value="2">Ожидает выдачи</option>
                <option id="3_@order.OrderID" value="3" selected="">Выполнен</option>
                <option id="4_@order.OrderID" value="4">Удален</option>
            </select>
        </td>
}
else if (order.Status == 4)
{
        <td>
            <select id="status_@order.OrderID" class="status" name="status" required>
                <option id="0_@order.OrderID" value="0">Обработка</option>
                <option id="1_@order.OrderID" value="1">Подтвержден</option>
                <option id="2_@order.OrderID" value="2">Ожидает выдачи</option>
                <option id="3_@order.OrderID" value="3">Выполнен</option>
                <option id="4_@order.OrderID" value="4" selected="">Удален</option>
            </select>
        </td>
}
            <td><p>@order.Sum</p></td>
            <td><p>@order.Notes</p></td>
            <td class="more-inf-td"><a href="../Admin/ViewProducts?OrderId=@order.OrderID&Url_page=../Admin/OrdersPage" class="more-inf">Подробнее</a></td>
        </tr>
}
        </table>
}
        </div>
        <script>
            $('.more-inf-td').on('click', function () {
                $(this).children('a')[0].click();
            });
            $('.menu-item').on('click', function () {
                $(this).children('a')[0].click();
            });
            var last_id = $('#lastid').attr('value');
            setTimeout(function refresh() {
                $.each($('.status'), function (index, value) {
                    var st = $(this).val();
                    var o_id = $(this).attr('id');
                    var t = $(this).closest('.tr');
                    $.ajax({
                        url: "../api/RefreshStatuses?select_id=" + o_id,
                        type: "GET",
                        dataType: "text",
                        success: function (text) {
                            if (st != text) {
                                $('#' + st + '_' + o_id.substr(7)).attr('selected', false);
                                $('#' + parseInt(text) + '_' + o_id.substr(7)).attr('selected', true);
                                if (text == "3" || text == "4") {
                                    setTimeout(
                                        function () { }, 5000);
                                    t.remove();
                                }
                            }
                        }
                        })
                });
                $.ajax({
                    url: "../api/Order?last_id=" + last_id,
                    type: "GET",
                    dataType: "json",
                    success: function (json) {
                        //Преобразовываем JSON
                        var json_parse = JSON.parse(json);
                        for (var i = 0; i < json_parse.length; i++) {
                            if (json_parse[i]["Status"] == 0 && $("#0").prop("checked")
                                || json_parse[i]["Status"] == 1 && $("#1").prop("checked")
                                || json_parse[i]["Status"] == 2 && $("#2").prop("checked")
                                || $("#OrderNumber").val() != null && json_parse[i]["NumberOrder"] == $.trim($("#OrderNumber").val())) {
                                var block = '<tr class="tr" value="' + json_parse[i]["OrderID"]
                                    + '"><td>' + json_parse[i]["NumberOrder"] + '</td><td>'
                                    + json_parse[i]["OrderTime"] + '</td><td>' + json_parse[i]["ReadyTime"]
                                    + '</td><td>';
                                if (json_parse[i]["WhereEat"] == "false") {
                                    block += '<p>С собой</p></td>';
                                }
                                else {
                                    block += '<p>На месте</p></td>';
                                }
                                if (json_parse[i]["Status"] == 0) {
                                    block += '<td><select id="status_' + json_parse[i]["OrderID"]
                                        + '" class="status" name="status" required>'
                                        + '<option id="0" value="0" selected="">Обработка</option>'
                                        + '<option id="1" value="1">Подтвержден</option>'
                                        + '<option id="2" value="2">Ожидает выдачи</option>'
                                        + '<option id="3" value="3">Выполнен</option>'
                                        + '<option id="4" value="4">Удален</option>'
                                        + '</select></td>';

                                }
                                else if (json_parse[i]["Status"] == 1) {
                                    block += '<td><select id="status_' + json_parse[i]["OrderID"]
                                        + '" class="status" name="status" required>'
                                        + '<option id="0" value="0">Обработка</option>'
                                        + '<option id="1" value="1" selected="">Подтвержден</option>'
                                        + '<option id="2" value="2">Ожидает выдачи</option>'
                                        + '<option id="3" value="3">Выполнен</option>'
                                        + '<option id="4" value="4">Удален</option>'
                                        + '</select></td>';
                                }
                                else if (json_parse[i]["Status"] == 2) {
                                    block += '<td><select id="status_' + json_parse[i]["OrderID"]
                                        + '" class="status" name="status" required>'
                                        + '<option id="0" value="0">Обработка</option>'
                                        + '<option id="1" value="1">Подтвержден</option>'
                                        + '<option id="2" value="2" selected="">Ожидает выдачи</option>'
                                        + '<option id="3" value="3">Выполнен</option>'
                                        + '<option id="4" value="4">Удален</option>'
                                        + '</select></td>';
                                }
                                else if (json_parse[i]["Status"] == 3) {
                                    block += '<td><select id="status_' + json_parse[i]["OrderID"]
                                        + '" class="status" name="status" required>'
                                        + '<option id="0" value="0">Обработка</option>'
                                        + '<option id="1" value="1">Подтвержден</option>'
                                        + '<option id="2" value="2">Ожидает выдачи</option>'
                                        + '<option id="3" value="3" selected="">Выполнен</option>'
                                        + '<option id="4" value="4">Удален</option>'
                                        + '</select></td>';
                                }
                                else if (json_parse[i]["Status"] == 4) {
                                    block += '<td><select id="status_' + json_parse[i]["OrderID"]
                                        + '" class="status" name="status" required>'
                                        + '<option id="0" value="0">Обработка</option>'
                                        + '<option id="1" value="1">Подтвержден</option>'
                                        + '<option id="2" value="2">Ожидает выдачи</option>'
                                        + '<option id="3" value="3">Выполнен</option>'
                                        + '<option id="4" value="4" selected="">Удален</option>'
                                        + '</select></td>';
                                }
                                block += '<td><p>' + json_parse[i]["Sum"] + '</p></td><td><p>';
                                if (json_parse[i]["Notes"] == null) {
                                    block += ' ';
                                }
                                else {
                                    block += json_parse[i]["Notes"];
                                }

                                block += '</p></td><td class="more-inf-td"><a href="../Admin/ViewProducts?OrderId='
                                    + json_parse[i]["OrderID"] + '&Url_page=../Admin/OrdersPage" class="more-inf">Подробнее</a></td></tr>';
                                document.getElementById('tableorders').innerHTML += block;
                            }
                        }
                        if (json_parse.length != 0) {
                            if (last_id < json_parse[json_parse.length - 1]["OrderID"])
                                last_id = json_parse[json_parse.length - 1]["OrderID"];
                        }
                    }
                })
                setTimeout(refresh, 5000);
                $(".status").change(function () {
                    var st = $(this).val();
                    var t = $(this).closest('.tr');
                    var o_id = $(this).attr('id');
                    var id = t.attr('value');
                    $.ajax({
                        url: "../api/Order?status=" + st + "&order_id=" + id,
                        type: "POST",
                        dataType: "text",
                        success: function () {
                            if (st == "3" || st == "4") {
                                setTimeout(
                                    function () { }, 5000);
                                t.remove();
                            }
                        }
                    })
                });
            }, 5000);

        </script>
        <script>
        $("#search").on("click", function () {
            $.ajax({
                url: "../api/FilterOrders",
                data: {
                    number_order: $("#OrderNumber").val(),
                    status0: $("#0").prop("checked"),
                    status1: $("#1").prop("checked"),
                    status2: $("#2").prop("checked")
                },
                type: "GET",
                dataType: "json",
                success: function (json) {
                    //Очищаем
                    $("#tableorders").empty();

                    //Преобразовываем JSON
                    var json_parse = JSON.parse(json);

                    //Шапка таблицы
                    var block = '<table id="tableorders" style="width: 95%; border: 0px" border="1"><tr>'
                        + '<th style="width: 10%">Номер заказа</th>'
                        + '<th style="width: 10%">Время оформления</th>'
                        + '<th style="width: 10%">Время готовности заказа</th>'
                        + '<th style="width: 10%">Упаковка заказа</th>'
                        + '<th style="width: 10%">Статус</th>'
                        + '<th style="width: 10%">Стоимость</th>'
                        + '<th style="width: 30%">Заметки</th>'
                        + '<th style="width: 10%">Товары в заказе</th></tr>';
                    document.getElementById('tableorders').innerHTML += block;

                    for (var i = 0; i < json_parse.length; i++) {
                            block = '<tr class="tr" value="' + json_parse[i]["OrderID"]
                            + '"><td>' + json_parse[i]["NumberOrder"] + '</td><td>'
                            + json_parse[i]["OrderTime"] + '</td><td>' + json_parse[i]["ReadyTime"]
                            + '</td><td>';
                        if (json_parse[i]["WhereEat"] == "false") {
                            block += '<p>С собой</p></td>';
                        }
                        else {
                            block += '<p>На месте</p></td>';
                        }
                        if (json_parse[i]["Status"] == 0) {
                            block += '<td><select id="status_' + json_parse[i]["OrderID"]
                                + '" class="status" name="status" required>'
                                + '<option id="0" value="0" selected="">Обработка</option>'
                                + '<option id="1" value="1">Подтвержден</option>'
                                + '<option id="2" value="2">Ожидает выдачи</option>'
                                + '<option id="3" value="3">Выполнен</option>'
                                + '<option id="4" value="4">Удален</option>'
                                + '</select></td>';

                        }
                        else if (json_parse[i]["Status"] == 1) {
                            block += '<td><select id="status_' + json_parse[i]["OrderID"]
                                + '" class="status" name="status" required>'
                                + '<option id="0" value="0">Обработка</option>'
                                + '<option id="1" value="1" selected="">Подтвержден</option>'
                                + '<option id="2" value="2">Ожидает выдачи</option>'
                                + '<option id="3" value="3">Выполнен</option>'
                                + '<option id="4" value="4">Удален</option>'
                                + '</select></td>';
                        }
                        else if (json_parse[i]["Status"] == 2) {
                            block += '<td><select id="status_' + json_parse[i]["OrderID"]
                                + '" class="status" name="status" required>'
                                + '<option id="0" value="0">Обработка</option>'
                                + '<option id="1" value="1">Подтвержден</option>'
                                + '<option id="2" value="2" selected="">Ожидает выдачи</option>'
                                + '<option id="3" value="3">Выполнен</option>'
                                + '<option id="4" value="4">Удален</option>'
                                + '</select></td>';
                        }
                        else if (json_parse[i]["Status"] == 3) {
                            block += '<td><select id="status_' + json_parse[i]["OrderID"]
                                + '" class="status" name="status" required>'
                                + '<option id="0" value="0">Обработка</option>'
                                + '<option id="1" value="1">Подтвержден</option>'
                                + '<option id="2" value="2">Ожидает выдачи</option>'
                                + '<option id="3" value="3" selected="">Выполнен</option>'
                                + '<option id="4" value="4">Удален</option>'
                                + '</select></td>';
                        }
                        else if (json_parse[i]["Status"] == 4) {
                            block += '<td><select id="status_' + json_parse[i]["OrderID"]
                                + '" class="status" name="status" required>'
                                + '<option id="0" value="0">Обработка</option>'
                                + '<option id="1" value="1">Подтвержден</option>'
                                + '<option id="2" value="2">Ожидает выдачи</option>'
                                + '<option id="3" value="3">Выполнен</option>'
                                + '<option id="4" value="4" selected="">Удален</option>'
                                + '</select></td>';
                        }
                        block += '<td><p>' + json_parse[i]["Sum"] + '</p></td><td><p>';
                        if (json_parse[i]["Notes"] == null) {
                            block += ' ';
                        }
                        else {
                            block += json_parse[i]["Notes"];
                        }

                        block += '</p></td><td class="more-inf-td"><a href="../Admin/ViewProducts?OrderId='
                            + json_parse[i]["OrderID"] + '&Url_page=../Admin/OrdersPage" class="more-inf">Подробнее</a></td></tr>';
                        document.getElementById('tableorders').innerHTML += block;
                    }
                    if (json_parse.length != 0) {
                        if (last_id < json_parse[json_parse.length - 1]["OrderID"])
                            last_id = json_parse[json_parse.length - 1]["OrderID"];
                    }
                }
            })
            })
            $(".status").change(function () {
                var st = $(this).val();
                var t = $(this).closest('.tr');
                var o_id = $(this).attr('id');
                var id = t.attr('value');
                $.ajax({
                    url: "../api/Order?status=" + st + "&order_id=" + id,
                    type: "POST",
                    dataType: "text",
                    success: function () {
                        if (st == "3" || st == "4") {
                            setTimeout(
                                function () { }, 5000);
                            t.remove();
                        }
                    }
                })
            });
        </script>
    </div>
</body>
</html>
