
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title>Личный кабинет</title>
</head>
<body>
    <div id="main-form">
        <div class="navigation">
            <table style="width: 100%; border: 0px" border="1">
                <tr>
                    <td class="menu-item"><a href="../Admin/Home" class="menu_text">О точке питания</a></td>
                    <td class="menu-item"><a href="../Admin/OrdersPage" class="menu_text">Заказы</a></td>
                    <td class="menu-item"><a href="../Admin/MenuList" class="menu_text">Меню</a></td>
                    <td class="menu-item"><a href="../Admin/PersonalAccount" class="menu_text">Личный кабинет</a></td>
                    <td class="menu-item"><a href="../Admin/ListUsers" class="menu_text">Настройка прав пользователей</a></td>
                </tr>
            </table>
        </div>
        <br />
        <div class="mainstyle">
            <h2>Личный кабинет</h2>
            <br />
            <p><label>Текущее изображение:</label></p>
            <img src="~/Content/Style/Files/@ViewBag.User.Picture" style="width: 200px; height: 200px" alt="Изображение не добавлено">

            <p><label>Логин: </label>@ViewBag.User.Login</p>
            <p><label>Фамилия: </label>@ViewBag.User.FirstName</p>
            <p><label>Имя: </label>@ViewBag.User.Name</p>
            <p><label>Отчество: </label>@ViewBag.User.Patronymic</p>
            @if (@ViewBag.User.Status == 0)
            {
                <p><label>Статус: </label>Покупатель</p>
            }
            @if (@ViewBag.User.Status == 1)
            {
                <p><label>Статус: </label>Модератор</p>
            }
            @if (@ViewBag.User.Status == 2)
            {
                <p><label>Статус: </label>Администратор</p>
            }
            <p><label>E-mail: </label>@ViewBag.User.Email</p>
            <p><label>Телефон: </label>@ViewBag.User.PhoneNumber</p>
        </div>
    </div>
    <script>
        $('.menu-item').on('click', function () {
            $(this).children('a')[0].click();
        });
    </script>
</body>
</html>
