
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../Content/Style/css/pushy.css">
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title>Личный кабинет</title>
</head>
<body>
    <div>
        <!-- Pushy Menu -->
        <nav class="pushy pushy-left">
            <div class="pushy-content">
                <ul>
                    <li class="pushy-link"><a href="../Admin/Home?UserId=@ViewBag.UserID">О точке питания</a></li>
                    <li class="pushy-link"><a href="../Admin/MenuList?UserId=@ViewBag.UserID">Меню</a></li>
                    <li class="pushy-link"><a href="../Admin/PersonalAccount?UserId=@ViewBag.UserID">Личный кабинет</a></li>
                    <li class="pushy-link"><a href="../Admin/ListUsers?UserId=@ViewBag.UserID">Настройка прав пользователей</a></li>
                </ul>
            </div>
        </nav>

        <!-- Your Content -->
        <div id="container">
            <!-- Menu Button -->
            <button class="menu-btn">&#9776</button>
        </div>
        <div>
            <p>Логин: @ViewBag.User.Login</p>
            <p>Фамилия:  @ViewBag.User.FirstName</p>
            <p>Имя: @ViewBag.User.Name</p>
            <p>Отчество: @ViewBag.User.Patronymic</p>
            @if (@ViewBag.User.Status == 0)
    {
        <p>Статус: Покупатель</p>
}
            @if (@ViewBag.User.Status == 1)
    {
        <p>Статус: Модератор</p>
}
            @if (@ViewBag.User.Status == 2)
    {
        <p>Статус: Администратор</p>
}
            <p>E-mail: @ViewBag.User.Email</p>
            <p>Телефон: @ViewBag.User.PhoneNumber</p>
        </div>
    </div>
    <script src="~/Content/Style/js/pushy.min.js"></script>
</body>
</html>
