
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title>Личный кабинет</title>
</head>
<body>
    <div>
        <nav role='navigation'>
            <ul>
                <li><a href="../Admin/Home?UserId=@ViewBag.UserID">О точке питания</a></li>
                <li><a href="../Admin/MenuList?UserId=@ViewBag.UserID">Меню</a></li>
                <li><a href="../Admin/PersonalAccount?UserId=@ViewBag.UserID">Личный кабинет</a></li>
                <li><a href="../Admin/ListUsers?UserId=@ViewBag.UserID">Настройка прав пользователей</a></li>
            </ul>
        </nav>
    </div>
        <div class="mainstyle">
            <p>Логин: @ViewBag.User.Login</p>
            <p>Фамилия:  @ViewBag.User.FirstName</p>
            <p>Имя: @ViewBag.User.Name</p>
            <p>Отчество: @ViewBag.User.Patronymic</p>
            @if (@ViewBag.User.Status == 0)
    {
        <p>Статус: Покупатель</p>
}
            @if (@ViewBag.User.Status == 1)
    {
        <p>Статус: Модератор</p>
}
            @if (@ViewBag.User.Status == 2)
    {
        <p>Статус: Администратор</p>
}
            <p>E-mail: @ViewBag.User.Email</p>
            <p>Телефон: @ViewBag.User.PhoneNumber</p>
        </div>
    </div>
    <script src="~/Content/Style/js/pushy.min.js"></script>
</body>
</html>
