
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title>Личный кабинет</title>
</head>
<body>
    <div>
        <nav role='navigation'>
            <ul>
                <li><a href="../Admin/Home?UserId=@ViewBag.UserID">О точке питания</a></li>
                <li><a href="../Admin/MenuList?UserId=@ViewBag.UserID">Меню</a></li>
                <li><a href="../Admin/PersonalAccount?UserId=@ViewBag.UserID">Личный кабинет</a></li>
                <li><a href="../Admin/ListUsers?UserId=@ViewBag.UserID">Настройка прав пользователей</a></li>
            </ul>
        </nav>
    </div>
    <div class="mainstyle">
        <h2>Личный кабинет</h2>
        <p><label>Логин: </label>@ViewBag.User.Login</p>
        <p><label>Фамилия: </label>@ViewBag.User.FirstName</p>
        <p><label>Имя: </label>@ViewBag.User.Name</p>
        <p><label>Отчество: </label>@ViewBag.User.Patronymic</p>
        @if (@ViewBag.User.Status == 0)
        {
            <p><label>Статус: </label>Покупатель</p>
        }
        @if (@ViewBag.User.Status == 1)
        {
            <p><label>Статус: </label>Модератор</p>
        }
        @if (@ViewBag.User.Status == 2)
        {
            <p><label>Статус: </label>Администратор</p>
        }
        <p><label>E-mail: </label>@ViewBag.User.Email</p>
        <p><label>Телефон: </label>@ViewBag.User.PhoneNumber</p>
    </div>
</body>
</html>
