
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Настройка точки питания</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
</head>
<body>
    <div id="main-form">
        <div class="allform">
            
            <form method="post" action="./SetDR">
                <h2>Настройка точки питания</h2>
                <br />
                <div>
                    <p>Адрес точки: </p>
                    <input type="text" name="Adress" value="@ViewBag.DinningRoom.Adress" class="form-input" required>
                    <br />
                    <br />
                    <p>Телефон: </p>
                    <input type="tel" name="Phone" value="@ViewBag.DinningRoom.PhoneNum" class="form-input" required>
                    <br />
                    <br />
                    <p>E-mail: </p>
                    <input type="email" name="Email" value="@ViewBag.DinningRoom.Email" class="form-input" required>
                    <br />
                    <br />
                    <p>Контактное лицо: </p>
                    <input type="text" name="Login" value="@ViewBag.Manager.Login" class="form-input" required>
                    <br />
                    <br />
                    <p>Количество блюд/интервал времени: </p>
                    <input type="number" name="Dishes" value=" @ViewBag.DinningRoom.Dishes" class="form-input" required>
                    <p>/</p>
                    <input type="number" name="Interval" value="@ViewBag.DinningRoom.Interval" class="form-input" required>
                    <br />
                </div>
                <br />
                <br />
                <div>
                    <p><label>Рабочие дни: </label></p>
                    <table>
                        @foreach (var day in ViewBag.WorkDays)
    {
                    <tr>
                        <td class="filter-table">
                            @if (day.IsWorkDay)
    {
                        <label style="font-weight: 500">
                            <input class="checkbox" type="checkbox" name="@day.DayWorkID" id="@day.DayWorkID" value="@day.DayWorkID" checked />
                            <span class="checkbox-custom"></span>
                            <span class="label">@day.Name</span>
                        </label>
}
else
{
                        <label style="font-weight: 500">
                            <input class="checkbox" type="checkbox" name="@day.DayWorkID" id="@day.DayWorkID" value="@day.DayWorkID" />
                            <span class="checkbox-custom"></span>
                            <span class="label">@day.Name</span>
                        </label>
}
                        </td>
                        <td class="filter-table"></td>
                    </tr>
                    <tr>
                        <td class="filter-table">Начало рабочего дня:</td>
                        <td class="filter-table"><input type="number" name="StDH_@day.DayWorkID" value="@day.StartDayHour" style="width: 50px" class="form-input" />:<input type="number" name="StDM_@day.DayWorkID" value="@day.StartDayMin" class="form-input" style="width: 50px" /></td>
                    </tr>
                    <tr>
                        <td class="filter-table">Конец рабочего дня:</td>
                        <td class="filter-table"><input type="number" name="EDH_@day.DayWorkID" class="form-input" value="@day.EndDayHour" style="width: 50px" />:<input type="number" name="EDM_@day.DayWorkID" value="@day.EndDayMin" class="form-input" style="width: 50px" /></td>
                    </tr>

}
                    </table>
                </div>
                    <a href="../Admin/Home" class="link-but" style="width:230px; float: right">Отмена</a>
                    <input type="submit" value="Сохранить" class="link-but">
            </form>
        </div>
    </div>
    <script>
        $(".but").button();
    </script>
</body>
</html>
