
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
    <title>Информация о заказе</title>
</head>
<body>
    <div>
        <nav role='navigation'>
            <ul>
                <li><a href="../Admin/Home?UserId=@ViewBag.UserID">О точке питания</a></li>
                <li><a href="../Admin/MenuList?UserId=@ViewBag.UserID">Меню</a></li>
                <li><a href="../Admin/OrdersPage?UserId=@ViewBag.UserID">Заказы</a></li>
                <li><a href="../Admin/PersonalAccount?UserId=@ViewBag.UserID">Личный кабинет</a></li>
                <li><a href="../Admin/ListUsers?UserId=@ViewBag.UserID">Настройка прав пользователей</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <a href="../Admin/OrdersPage" class="but">Вернуться к заказам</a>

        <div id="printarea">
            <h2>Заказ №@ViewBag.Order.NumberOrder</h2>
            <p>Время оформления: @ViewBag.Order.OrderTime</p>
            <p>Время готовности заказа: @ViewBag.Order.ReadyTime</p>
            @if (ViewBag.Order.WhereEat == false)
    {
        <p>Упаковка заказа: С собой</p>
}
else
{
        <p>Упаковка заказа: На месте</p>
}
            @if (ViewBag.Order.Status == 0)
    {
            <p>Статус: Обработка</p>
}
else if (ViewBag.Order.Status == 1)
{
            <p>Статус: Подтвержден</p>
}
else if (ViewBag.Order.Status == 2)
{
            <p>Статус: Ожидает выдачи</p>
}
else if (ViewBag.Order.Status == 3)
{
            <p>Статус: Выполнен</p>
}
else if (ViewBag.Order.Status == 4)
{
            <p>Статус: Удален</p>
}
            <p>Заметки: @ViewBag.Order.Notes</p>
            <table style="width: 95%; border: 1px solid gray" border="1">
                <tr>
                    <th style="width: 20%">Название</th>
                    <th style="width: 50%">Состав</th>
                    <th style="width: 10%">Категория</th>
                    <th style="width: 10%">Количество</th>
                    <th style="width: 10%">Стоимость</th>
                </tr>
                @foreach (var p in ViewBag.Products)
        {
            <tr>
                <td>@p.MenuItem.Name</td>
                <td>@p.MenuItem.Ingredients</td>
                <td>@p.MenuItem.Category.Name</td>
                <td>@p.Amount</td>
                <td>@p.Sum руб.</td>
            </tr>
}
            </table>
            <p id="allprice">Общая сумма заказа: @ViewBag.AllPrice руб.</p>
        </div>
        <input type="button" value="Печать" class="but" onclick="PrintElem('#printarea')" />
    </div>
    <script>
        $('.but').button();
        function PrintElem(elem) {
            Popup($(elem).html());
        }
        function Popup(data) {
            var mywindow = window.open('', 'printarea', 'height=400,width=600');
            mywindow.document.write('<html><head><title>printarea</title>');
            mywindow.document.write('</head><body>');
            mywindow.document.write(data);
            mywindow.document.write('</body></html>');
            //mywindow.document.close(); // necessary for IE >= 10 
            //mywindow.focus(); // necessary for IE >= 10 
            mywindow.print();
            mywindow.close();
            return true;
        } 
    </script>
</body>
</html>
