
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Корзина</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
    <link href="~/Content/Style/css/menuPage.css" rel="stylesheet" />
</head>
<body>
    <div id="main-form">
        <div class="navigation">
            <table style="width: 100%; border: 0px" border="1">
                <tr>
                    <td class="menu-item"><a href="../Client/MenuPage" class="menu_text">Меню</a></td>
                    <td class="menu-item"><a href="../Client/CartPage" class="menu_text">Корзина</a></td>
                    <td class="menu-item"><a href="../Client/Profile" class="menu_text">Личный кабинет</a></td>
                    <td class="menu-item"><a href="../Client/Contacts" class="menu_text">Контакты</a></td>
                    <td class="menu-item-exit"><input type="button" value="Выйти" id="exit" class="menu_text" /></td>
                </tr>
            </table>
        </div>
        <div>
            <h2>Корзина</h2>
            <div id="tablecart">
                @if (ViewBag.Empty == "true")
    {
            <p>Ваша корзина пуста. Добавьте хотя бы один товар.</p>
}
else
{
            <table class="table-with-items">
                <tr>
                    <th style="width: 20%">Название</th>
                    <th style="width: 50%">Состав</th>
                    <th style="width: 10%">Категория</th>
                    <th style="width: 10%">Количество</th>
                    <th style="width: 10%">Стоимость</th>
                </tr>
                @foreach (var cart in ViewBag.Cart)
    {
            <tr value="@cart.CartID">
                <input type="text" id="price_field_@cart.CartID" value="@cart.MenuItem.Price" hidden>
                <td>@cart.MenuItem.Name</td>
                <td>@cart.MenuItem.Ingredients</td>
                <td>@cart.MenuItem.Category.Name</td>
                <td>
                    <div class="minus">- </div>
                    <input type="text" id="count_field_@cart.CartID" value="@cart.Amount" class="count_field">
                    <div class="plus"> +</div>
                </td>
                <td id="@cart.CartID">
                    <p class="price">
                        @(cart.MenuItem.Price * cart.Amount)
                    </p>
                </td>
                <td class="remove-but"><input type="button" value="Удалить" class="remove-cart-item" /></td>
            </tr>
}
            </table>
            <p id="allprice">Общая сумма заказа: <label id="price">@ViewBag.AllPrice</label></p>
            <input type="button" value="Очистить корзину" class="remove-cart" />
            if (ViewBag.NoTime == true)
{
            <p>На сегодня нет доступного времени</p>
}
else
{
            <div>
                <h4>Выберите время готовности: </h4>
                <div id="times">
                    @foreach (var time in ViewBag.Times)
        {
            <div class="time-blocks">
                <p class="time-str"><input name="time" type="radio" id="@time.FreeTimeID" value="@time.Time"> @time.Time</p>
            </div>
}
                </div>
            </div>
            <br clear="all">
            <div style="clear:both;">
                <p><h4>Собрать заказ:</h4>
                <p><input name="place" type="radio" id="0" value="false" checked>С собой</p>
                <p><input name="place" type="radio" id="1" value="true">На месте</p>
                </p>
                <h4>Заметки к заказу:</h4>
                <input type="text" id="notes" />
                <br clear="all">
                <input type="button" value="Оформить заказ" class="new-order" />
            </div>
}
            <div class="clear"></div>
}
            </div>
        </div>
    </div>
    <script>
        $(window).load(function () {
            if ($('input[name=time]').first() != null) {
                $('input[name=time]').first().attr("checked", true);
            }
        });
        $('.menu-item-exit').on('click', function () {
            $(this).children('input')[0].click();
        });
        $("#exit").on("click", function (event) {
            $.ajax({
                url: "../api/SignINUP",
                type: "GET",
                dataType: "text",
                success: function () {
                    window.location = '../Authorization/Enter';
                }
            })
            event.stopPropagation();
        })
        $('.menu-item').on('click', function () {
            $(this).children('a')[0].click();
        });
        $('.remove-but').on('click', function () {
            $(this).children('input')[0].click();
        });
        $(".remove-cart-item").on("click", function (event) {
            var button = $(this);
            var str = button.parent().parent();
            $.ajax({
                url: "../api/CartChosing?id=" + str.attr("value"),
                type: "POST",
                dataType: "text",
                success: function (text) {
                    str.remove();
                    if (text == "true") {
                        $("#tablecart").empty();
                        var block = '<p>Ваша корзина пуста. Добавьте хотя бы один товар.</p>';
                        document.getElementById('tablecart').innerHTML += block;
                    }
                    var sum = 0;
                    $.each($('.price'), function (index, value) {
                        sum = sum + parseInt($(this).html());
                    });
                    $('#allprice').empty();
                    block = 'Общая сумма заказа: <label id="price">' + sum + '</label>';
                    document.getElementById('allprice').innerHTML += block;
                }
            })
            event.stopPropagation();
        })
        $(".remove-cart").on("click", function () {
            var button = $(this);
            var str = button.parent().parent();
            $.ajax({
                url: "../api/CartChosing",
                type: "POST",
                dataType: "text",
                success: function () {
                    $("#tablecart").empty();
                    var block = '<p>Ваша корзина пуста. Добавьте хотя бы один товар.</p>';
                    document.getElementById('tablecart').innerHTML += block;
                }
            })
        })
        $('.minus').click(function () {
            var $input = $(this).parent().find('input.count_field');
            var count = parseInt($input.val()) - 1;
            count = count < 1 ? 1 : count;
            $input.val(count);
            $input.change();
            return false;
        });
        $('.plus').click(function () {
            var $input = $(this).parent().find('input.count_field');
            $input.val(parseInt($input.val()) + 1);
            $input.change();
            return false;
        });
        $('.count_field').change(function () {
            var v = $(this).val();
            var id_it = $(this).parent().parent().attr("value");
            var s = "../api/CartChosing?id=" + id_it
                + "&amount=" + v;
            var p = $('#price_field_' + id_it).val();
            $.ajax({
                url: s,
                type: "POST",
                dataType: "text",
                success: function () {
                    $('#' + id_it).empty();
                    var block = '<p class="price">' + v * p + '</p>';
                    document.getElementById(id_it).innerHTML += block;
                    var sum = 0;
                    $.each($('.price'), function (index, value) {
                        sum = sum + parseInt($(this).html());
                    });
                    $('#allprice').empty();
                    block = 'Общая сумма заказа: <label id="price">' + sum + '</label>';
                    document.getElementById('allprice').innerHTML += block;
                }
            })
        });
        $('.new-order').on("click", function () {
            var notes = $('#notes').val();
            var where_eat = $('input[name=place]:checked').val();
            var time = $('input[name=time]:checked').val()
            $.ajax({
                url: "../api/CartChosing?time=" + time + "&notes=" + notes + "&where_eat=" + where_eat
                    + "&allprice=" + $('#price').text(),
                type: "POST",
                dataType: "text",
                success: function (flag) {
                    var status = 2;
                    if (flag == "false") {
                        status = 0;

                    }
                    if (flag == "true") {
                        status = 1;
                    }

                    if (status == 0) {
                        //ошибка + перезагрузка
                        alert("К сожалению, данное время уже заняли. Выберите другое.");
                        location.reload();
                    }
                    else if (status == 1) {
                        //переадресация в список заказов пользователя
                        window.location = '../Client/ListOrders';
                    }
                    else {
                        alert("Произошла неизвестная ошибка");
                    }
                }
            })
        })
    </script>
</body>
</html>
