
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактировать профиль</title>
</head>
<body>
    <div>
        <form method="post" action="./ChProfile" enctype="multipart/form-data">
            <h2>Редактирование профиля</h2>
            <input type="number" name="ID" value="@ViewBag.RedUser.UserID" hidden />
            <p>Логин:</p>
            <input type="text" name="Login" id="Login" value="@ViewBag.RedUser.Login" required />
            <br />
            <br />
            <p>Фамилия:</p>
            <input type="text" name="FirstName" value="@ViewBag.RedUser.FirstName" required />
            <br />
            <br />
            <p>Имя:</p>
            <input type="text" name="Name" value="@ViewBag.RedUser.Name" required />
            <br />
            <br />
            <p>Отчество:</p>
            <input type="text" name="Patronymic" value="@ViewBag.RedUser.Patronymic" />
            <br />
            <br />
            <p>Email:</p>
            <input type="email" name="Email" value="@ViewBag.RedUser.Email" required />
            <br />
            <br />
            <p>Телефон:</p>
            <input type="tel" name="PhoneNumber" value="@ViewBag.RedUser.PhoneNumber" required />
            <br />
            <br />
            <p>Текущее изображение:</p>
            <img src="~/Content/Style/Files/@ViewBag.RedUser.Picture" width="100" height="100" alt="Изображение не добавлено">
            <p>Загрузить новое изображение:</p>
            <input type="file" name="upload" accept="image/jpeg,image/png">
            <br />
            <br />
            <p>
                <a href="../Client/Profile" class="but">Отмена</a>
                <input type="submit" class="but" />
            </p>
        </form>
    </div>
</body>
</html>
