
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Style/css/menuPage.css" rel="stylesheet" />
    <title>Профиль</title>
</head>
<body>
    <div id="main-form">
        <div class="navigation">
            <table style="width: 100%; border: 0px" border="1">
                <tr>
                    <td class="menu-item"><a href="../Client/MenuPage" class="menu_text">Меню</a></td>
                    <td class="menu-item"><a href="../Client/CartPage" class="menu_text">Корзина</a></td>
                    <td class="menu-item"><a href="../Client/Profile" class="menu_text">Личный кабинет</a></td>
                    <td class="menu-item"><a href="../Client/Contacts" class="menu_text">Контакты</a></td>
                </tr>
            </table>
        </div>
        @if (ViewBag.Empty == true)
        {
            <p>Пользователь не найден</p>
        }
        else
        {
        <div>
            <table style="width: 100%; border: 0px" border="1">
                <tr>
                    <td class="category"><a href="../Client/Profile" class="category-lk">Профиль</a></td>
                    <td class="category"><a href="../Client/ListOrders" class="category-lk">Заказы</a></td>
                </tr>
            </table>
        </div>
        <h2>Профиль</h2>
        <div style="float: right">
            <a href="../Client/ChangeProfile" class="ord_but">Редактировать профиль</a>
        </div>
        <h4>Текущее изображение:</h4>
        <img src="~/Content/Style/Files/@ViewBag.User.Picture" width="200" height="200" alt="Изображение не добавлено">

        <p><label style="font-weight:700">Логин: </label>@ViewBag.User.Login</p>
        <p><label style="font-weight:700">Фамилия: </label>@ViewBag.User.FirstName</p>
        <p><label style="font-weight:700">Имя: </label>@ViewBag.User.Name</p>
        <p><label style="font-weight:700">Отчество: </label>@ViewBag.User.Patronymic</p>
        if (@ViewBag.User.Status == 0)
        {
        <p><label style="font-weight:700">Статус: </label>Покупатель</p>
        }
        if (@ViewBag.User.Status == 1)
        {
        <p><label style="font-weight:700">Статус: </label>Модератор</p>
        }
        if (@ViewBag.User.Status == 2)
        {
        <p><label style="font-weight:700">Статус: </label>Администратор</p>
        }
        <p><label style="font-weight:700">E-mail: </label>@ViewBag.User.Email</p>
        <p><label style="font-weight:700">Телефон: </label>@ViewBag.User.PhoneNumber</p>
        <div>
        </div>
        }
    </div>
    <script>
        $('.menu-item').on('click', function () {
            $(this).children('a')[0].click();
        });
        $('.category').on('click', function () {
            $(this).children('a')[0].click();
        });
    </script>
</body>
</html>
