
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Профиль</title>
</head>
<body>
    <div class="navigation">
        <table style="width: 100%; border: 0px" border="1">
            <tr>
                <td class="menu-item"><a href="../Client/MenuPage" class="menu_text">Меню</a></td>
                <td class="menu-item"><a href="../Client/CartPage" class="menu_text">Корзина</a></td>
                <td class="menu-item"><a href="../Client/Profile" class="menu_text">Личный кабинет</a></td>
                <td class="menu-item"><a href="../Client/Contacts" class="menu_text">Контакты</a></td>
            </tr>
        </table>
    </div>
    <div>
        <ul>
            <li><a href="../Client/Profile">Профиль</a></li>
            <li><a href="../Client/ListOrders">Заказы</a></li>
            <li><a href="../Client/Contacts">Контакты</a></li>
        </ul>
    </div>
    <h2>Профиль</h2>
    <a href="../Client/ChangeProfile">Редактировать профиль</a>
    <p>Текущее изображение:</p>
    <img src="~/Content/Style/Files/@ViewBag.User.Picture" width="100" height="100" alt="Изображение не добавлено">

    <p><label>Логин: </label>@ViewBag.User.Login</p>
    <p><label>Фамилия: </label>@ViewBag.User.FirstName</p>
    <p><label>Имя: </label>@ViewBag.User.Name</p>
    <p><label>Отчество: </label>@ViewBag.User.Patronymic</p>
    @if (@ViewBag.User.Status == 0)
    {
        <p><label>Статус: </label>Покупатель</p>
    }
    @if (@ViewBag.User.Status == 1)
    {
        <p><label>Статус: </label>Модератор</p>
    }
    @if (@ViewBag.User.Status == 2)
    {
        <p><label>Статус: </label>Администратор</p>
    }
    <p><label>E-mail: </label>@ViewBag.User.Email</p>
    <p><label>Телефон: </label>@ViewBag.User.PhoneNumber</p>
    <div>
    </div>
</body>
</html>
